// SearchBar Menu
// ============================================================================
$o-search-bar-menu-max-width: calc(100vw - #{map-get($spacers, 3) * 2 });

.o_search_bar_menu {
    max-width: $o-search-bar-menu-max-width;
    min-width: 500px;
    padding-inline: map-get($spacers, 2) !important;
    justify-content: flex-start;

    .o_dropdown_container {
        border-color: $dropdown-divider-bg !important;
        min-width: 230px;
        max-width: 280px;
        padding-inline: map-get($spacers, 2) !important;
        font-size: .84rem;

        &:last-child {
            border-right: 0 !important;
        }
    }

    .o_dropdown_title {
        font-size: .95rem;
        font-weight: 700;
    }

    .fs-5 {
        font-size: .95rem !important;
    }

    .dropdown-item,
    .o-dropdown-item,
    .o_menu_item,
    .o_item_option {
        min-height: 30px;
        padding-block: 4px;
        font-size: .84rem;
    }

    .dropdown-divider {
        margin-block: 6px;
    }

    .o_accordion_values .o_input {
        max-width: 17ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .o_favorite_item {
        &:hover {
            --show-on-hover: visible;
        }

        i {
            display: block !important;
            visibility: var(--show-on-hover, hidden);
        }
    }

    @include media-breakpoint-up(lg) {
        .o_dropdown_container {
            max-width: 280px;
        }
    }
}
