// SearchBar Menu
// ============================================================================
$o-search-bar-menu-max-width: calc(100vw - #{map-get($spacers, 3) * 2 });

.o_search_bar_menu {

    max-width: $o-search-bar-menu-max-width;
    .o_dropdown_container {
        border-color: $dropdown-divider-bg !important;
        min-width: 200px;
    }

    .o_accordion_values .o_input {
        max-width: 17ch;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .o_favorite_item {
        &:hover {
            --show-on-hover: visible;
        }

        i {
            display: block !important;
            visibility: var(--show-on-hover, hidden);
        }
    }

    @include media-breakpoint-up(lg) {
        .o_dropdown_container {
            max-width: calc(#{$o-search-bar-menu-max-width} / 6);
        }
    }
}

.o_search_bar_menu_toolbar_icons {
    align-self: stretch;
    min-height: 38px;

    > .dropdown {
        display: flex;

        + .dropdown .o_search_bar_menu_toolbar_icon {
            border-left: 1px solid $border-color;
        }

        &:first-child .o_search_bar_menu_toolbar_icon {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }

        &:last-child .o_search_bar_menu_toolbar_icon {
            border-top-right-radius: 999px;
            border-bottom-right-radius: 999px;
        }
    }

    .o_search_bar_menu_toolbar_icon {
        width: 40px;
        height: 100%;
        min-height: 38px;
        padding: 0;
        border: 0;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;

        &:hover,
        &:focus,
        &.show {
            z-index: 2;
            background-color: $o-gray-100;
        }
    }
}
