#!/usr/bin/make -f
export DH_VERBOSE=1
export PYBUILD_NAME=orbex-bin
export PYBUILD_DISABLE=test

%:
	dh ${@} --with=python3 --buildsystem=pybuild

override_dh_auto_build:
	cp -r addons/* orbex/addons/
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
	rm debian/orbex/usr/lib/python3*/dist-packages/orbex/addons/point_of_sale/static/src/fonts/Inconsolata.otf
	for LINKTARGET in `awk '{ print $2 }' orbex.links`; do rm debian/orbex/${LINKTARGET} ; done
	find debian/orbex -name LICENSE.txt -exec rm {} \;

override_dh_auto_clean:
	dh_auto_clean
	for d in addons/* ; do rm -fr orbex/$$d ; done
