.o_field_res_user_group_ids {
    @include media-breakpoint-up(sm) {
        .o_extra_rights_group .o_inner_group {
           grid-template-columns: fit-content(250px) minmax(0, 1fr);
        }
    }

    &.o_field_widget:focus-within {
        --o-input-border-color: unset;
        --o-caret-color: unset;
    }

    .o_orbex_access_privilege {
        margin-bottom: map-get($spacers, 2);
    }

    .o_is_implied {
        color: $text-muted;

        .form-check-input:checked {
            opacity: .65;
        }
    }
}
